@charset "UTF-8";
/* CSS Document */

/*
Front-End: Sergio Camalich
Author URL: http://www.esecamalich.com
*/

/*
RESET
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	border:none;
	outline:none;
}

a {
	text-decoration: none;
}

/*
MAIN
*/

body, html {
	height: 100%;
}

body {
	font-family: 'Work Sans', sans-serif;
	color: #464646;
}

h1 {
	font-size: 1.625em;
	font-weight: 600;
}

h2 {
	font-size: 1.75em;
	font-weight: 800;
}

h3 {
	font-size: 1.25em;
	font-weight: 800;
}

h4, h5 {
	font-size: .875em;
}

h4 {
	font-weight: 600;
}

img {
	width: 100%;
	max-width: 100%;
	height: auto;
	max-height: 100%;
}

.icon {
	display: block;
}

.neg-50 {
	position: relative;
	margin-top: -50%;
}

.neg-50.container.acerca {
	margin-top: -120%;
	margin-bottom: -40%;
}

.block {
	width: 100%;
	height: 100%;
	display: block;
}

.bg-white { background: #fff; }
.bg-dark { background: #212121; }
.bg-gray { background: #F2F2F2; }
.bg-blue { background: #0010CC; }

.full-w { width: 100%; min-width: 100%; }

.btn {
	display: block;
	padding: 10px;
	text-align: center;
	box-sizing: border-box;
}

.btn-outline {
	border: solid 1px #006CFF;
	border-radius: 10px;
}

.btn-blue {
	transition: all .3s;
}

.btn-blue:hover {
	background: #006CFF;
	color: #fff;
}

.block-ctr {
	display: block;
	margin: 0 auto;
}

.pad-top-60 { padding-top: 60px; }

.intro {
	background: URL("../images/bg-intro.jpg") no-repeat center top;
	background-size: cover;
	position: absolute;
	height: 100%;
	width: 100%;
}

.main-header {
	/*width: 72%;*/
	width: 100%;
	/*max-width: 1400px;*/
	/*max-width: 320px;*/
	transition: all .3s;
	width: 100% !important;
	position: relative;
	padding: 20px 20px 15px;
	z-index: 101;
}

.is-sticky .main-header {
	background: rgba(33,33,33,1);
}

.is-sticky .main-header.menu-active {
	background: none;
}

.logo.svg path {
  fill: #fff;
  transition: all .3s;
}

.main-header .logo-container {
	display: block;
	width: 22.8%;
	max-width: 85px;
	position: relative;
	z-index: 102;
}

.left { float: left; }
.right { float: right; }
.center { margin: 0 auto;}
.clear { float: none; clear: both; }
.left, .right, .center, .clear { display: block; }

.pad-20, .pad-40 { box-sizing: border-box; }
.pad-20 { padding: 20px; }
.pad-40 { padding: 40px; }

.pad-20.acerca-txt {
	padding: 40px 20px;
	margin: 0 auto;
}

.icon-container {
	cursor: pointer;
}

.icon-container-menu {
	width: 33px;
	height: 20px;
	display: block;
	position: relative;
	z-index: 102;
	padding: 5px;
	transition: all .3s;
}

.icon-container-menu:hover, .icon-container-menu.menu-active {
	background: #006cff;
	height: 20px;
}

.icon-menu {
	background: #fff;
	width: 33px;
	height: 3px;
	position: relative;
	transition: all .3s;
}

.icon-menu::after, .icon-menu::before {
	display: block;
	content: '';
	background: #fff;
	width: 33px;
	height: 3px;
	transition: all .3s;
}

.icon-menu::before {
	position: absolute;
	top: 15px;
}
.icon-menu::after {
	position: relative;
	top: 8px;
}

.icon-container-menu:hover .icon-menu, .icon-container-menu:hover .icon-menu::before, .icon-container-menu:hover .icon-menu::after {
	height: 4px;
}

.desk-menu {
	display: none;
}

.mob-nav .list li {
	line-height: 2em;
}

.mob-menu-container {
	padding: 100px 20px 20px;
	background: rgba(33,33,33,.9);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	display: none;
	opacity: 0;
	transition: all .3s;
}

.mob-menu-container.menu-active {
	display: block;
	opacity: 1;
}

.mob-menu-container a {
	color: #fff;
	transition: all .3s;
}

.mob-menu-container a:hover, .mob-menu-container a.active {
	color: #0010CC;
}

.mob-menu {
	font-weight: 1.375em;
	line-height: 1.8em;
}

.mob-menu .list-title {
	font-size: 1.375em;
	font-weight: 600;
}

.mob-contacto {
	padding: 20px 0;
	display: inline-block;
	width: 100%;
	font-weight: 600;
	margin: 10px 0;
	border-top: solid 1px #fff;
	border-bottom: solid 1px #fff;
}

.list-lang {
	padding: 20px 0 0;
	text-align: center;
	font-size: 0.625em;
	text-transform: uppercase;
}

.list-lang li {
	display: inline-block;
	padding: 0 5px;
}

.list-lang li:nth-child(1)::after, .list-lang li:nth-child(2)::after {
	content: '';
	background: #fff;
	width: 1px;
	height: 10px;
	display: inline-block;
	top: 1px;
	left: 5px;
	position: relative;
}

.txt-left { text-align: left; }
.txt-center { text-align: center; }
.txt-right { text-align: right; }

.txt-white { color: #fff; }
.txt-gray { color: #95989A; }

.max-w { max-width: 800px; margin: 0 auto;}

/*.pad-20.max-w { padding: 20px 0; }*/

p.bg-white {
	color: #95989A;
}

p.acerca-txt {
	max-width: 1015px;
	display: block;
	font-size: .875em;
	line-height: 1.5em;
	position: absolute;
	z-index: 2
}

.acerca {
	padding-top: 35%;
	position: relative;
	z-index: 2;
}

.acerca h1 {
	display: block;
}

.acerca h1::after {
	content: '';
	background: #fff;
	display: block;
	width: 1px;
	height: 65px;
	margin: 30px auto;
}

.acerca-callto {
	/*margin-top: -50%;*/
	margin-top: 80px;
	padding-top: 160px;
	position: relative;
}

.neg50.acerca-callto {
	position: relative;
	z-index: 1
}

.btn-acerca {
	width: 80%;
	max-width: 195px;
}

.bg-white h2 {
	color: #95989A;
}

.list li.prev-noticia, .list .equipo-member {
	padding: 30px 0 0;
}

.list h1 a {
	color: #464646;
	transition: all .3s;
}

.list h1 a:hover, .list a:hover~h1 a {
	color: #006CFF;
}

.list .list-item h1 {
	padding: 10px 0;
}


.single-cat-list {
	font-size: .75em;
	text-transform: uppercase;
}

.single-cat-list .cat-link {
	display: inline-block;
	text-align: center;
}

.single-cat-list .cat-link a {
	display: block;
	background: #006CFF;
	padding: 5px 10px;
	color: #fff;
}

.date {
	font-size: .75em;
	font-weight: 600;
	padding: 10px 0 0;
	display: inline-block;
}

.cat-list-block {
	display: block;
	margin: 0 0 3px;
}

.cat-legal { background: URL('../images/cat-legal.jpg') no-repeat center center; }
.cat-corporativa { background: URL('../images/cat-corporativa.jpg') no-repeat center center; }
.cat-economia { background: URL('../images/cat-economia.jpg') no-repeat center center; }
.cat-financiera { background: URL('../images/cat-financiera.jpg') no-repeat center center; }
.cat-fiscal { background: URL('../images/cat-fiscal.jpg') no-repeat center center; }

.cat-legal, .cat-corporativa, .cat-economia, .cat-financiera, .cat-fiscal { background-size: cover; }

.cat-list-block a {
	display: block;
	background: rgba(0,16,206,.8);
	width: 100%;
	height: 145px;
	color: #fff;
	line-height: 130px;
	transition: all .3s;
}

.cat-list-block a:hover {
	background: rgba(0,108,255,.8);
}

.cat-title {
	padding: 0 20px;
	box-sizing: border-box;
	overflow: auto;
}

.cat-title h1 { font-weight: normal; }

.cat-title span, .equipo-nombre { padding: 10px 0 0; }

.equipo-nombre h4, .equipo-nombre h5 { color: #95989A; }

.equipo-nombre h5::after {
	display: block;
	content: '';
	background: #95989A;
	width: 15px;
	height: 1px;
	margin: 8px 0;
}

.list-proyectos {
	padding: 40px 0 0;
	text-align: center;
}

.list-proyectos .proyecto-single {
	display: inline-block;
	width: 48%;
	padding: 0 0 30px;
}

.list-proyectos .proyecto-single a {
	display: block;
	width: 70%;
	margin: 0 auto;
	opacity: .5;
	transition: all .3s;
}

.list-proyectos .proyecto-single a:hover {
	opacity: 1;
}

.list-social li {
	display: inline-block;
	padding: 0 10px;
	width: 40px;
	height: 40px;
}

.list-social li a {
	opacity: .7;
	transition: all .3s;
}

.list-social li a:hover {
	opacity: 1;
}

.bg-blue.txt-white a {
	color: #fff;
	font-weight: 800;
}

.btn-lang {
	display: none;
}

@media all and (min-width: 350px) {

	.acerca {
		padding-top: 25%;
	}

	.acerca-callto {
		padding-top: 140px;
	}

	.pad-20.acerca-txt {
		display: block;
		max-width: 300px;
		left: 50%;
		margin-left: -150px;
	}

}

@media all and (min-width: 500px) {

	.acerca { padding-top: 20%; }

	.acerca-callto {
		padding-top: 80px;
		margin-top: 140px;
	}

	.col-4-list .list-item {
		width: 47%;
		float: left;
	}

	.col-4-list .list-item:nth-child(2n) { float: right; }

	.col-4-list { overflow: auto; overflow-y: hidden;}

	.list-proyectos .proyecto-single { width: 24%; }

}

@media all and (min-width: 600px) {

	.acerca { padding-top: 15%; }

	.acerca-callto {
    padding-top: 120px;
    margin-top: 100px;
	}

	.list-destacadas {
		overflow: auto;
		overflow-y: hidden;
	}

	.col-3-list.list-destacadas li:nth-child(2), .col-3-list.list-destacadas li:nth-child(3) {
		width: 48%;
		float: left;
	}

	.col-3-list.list-destacadas li:nth-child(3) {
		float: right;
	}

}

@media all and (min-width:720px) {

	.icon-container-menu { display: none; }

	.col-3-list.list-destacadas li.prev-noticia {
		width: 30%;
		float: left;
	}

	.col-3-list.list-destacadas li.prev-noticia:nth-child(2) {
		padding: 30px 4% 0;
	}

	.col-4-list .list-item, .col-4-list .list-item:nth-child(2n) {
		width: 21%;
		float: left;
	}

	.col-4-list .list-item:nth-child(2) { margin: 0 5%; }
	.col-4-list .list-item:nth-child(3) { margin: 0 5% 0 0; }

	.desk-menu {
		display: block;
	}

	.header-rgt {
		width: 80%;
	}

	.mob-menu-container {
		background: none;
		width: 80%;
		display: block;
		opacity: 1;
		position: relative;
		float: right;
		padding: 7px 0 0;
		font-size: .75em;
	}

	.mob-nav {
		width: 100%;
		float: left;
	}

	.main-nav-aside {
		width: 25%;
    float: right;
	}

	.mob-menu {
		padding: 0 0 5px;
		border-bottom: solid 1px #fff;
	}

	.mob-menu li {
		display: inline;
		padding: 0 10px 0;
		border-right: solid 1px #fff;
	}

	.mob-menu li:nth-child(2) { padding-left: 0; }
	.mob-menu li:last-child { border: none; }

	li.list-title { display: none; }

	.mob-contacto {
		border: none;
		display: inline;
		float: right;
		text-align: right;
		padding: 0;
		line-height: 0;
		top: 2px;
	}

	.main-nav-aside {
		right: 20px;
		top: 7px;
		padding: 0
	}

	.list-lang, .main-nav-aside, .btn-lang, .mob-contacto {
		position: absolute;
	}

	.btn-lang {
		display: block;
		font-size: 0.625em;
		padding: 10px;
		text-transform: uppercase;
		border: solid 1px #fff;
		border-bottom: none;
		border-radius: 3px 3px 0 0;
		cursor: pointer;
		z-index: 10;
	}

	a.btn-lang:hover, .main-nav-aside:hover a.btn-lang {
		background: #fff;
		color: #000;
	}

	.list-lang {
		top: 15px;
		margin-left: -30%;
		display: none;
	}

	.main-nav-aside:hover .list-lang {
		display: block;
	}

}
